@import "/src/styles/variables";
.chart-box {
  border-style: solid;
  border-top-style: none;
  border-radius: 0 0 0.4rem 0.4rem;
  border-width: 0.5px;
  padding-right: 2rem;
  border-color: adjust-color($color: $gray, $alpha: 0.2);
  //color: #bff3d600;
}
